doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="iHomeSecurity")
    meta(name="author", content="Justin Sommer")
    title= title
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/cover.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(id="holderjs-style", type="text/css")
  body
    block content